{% load static %}

<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App3</title>
</head>
<body>
    <h1>Lista de Compras</h1>
    <ul>
        {% for artigo in artigos %}

        <li>{{artigo}} <a href="{% url 'lista_compras:delete' artigo.id %}"><img src="{% static 'trash3.svg' %}" alt="caixote do lico - eliminar"></a></li>
    
        {% endfor %}
    </ul>
   
    <a href="{% url 'lista_compras:add' %}">Adicionar artigo 
        <img src="{% static 'add.svg' %}" alt="mais - adicionar">
    </a>
</body>
</html>