<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
</head>
<body>
  {% load static %}
  <h1>Lista de Tarefas</h1>
 
<p>{{ numero }} tarefa(s) por realizar! </p>
 
<ul>
    {% for x in tarefas %}
 
    <li>{{x.id}} - {{ x.nome }}
        <a href="{% url 'todo:eliminar' x.id %}">
          <img src="{% C:\Users\helen\Desktop\5425\Projeto_Django\project1\static\trash3.svg %}" alt="caixote do lixo">
        </a>
        <a href="{% url 'todo:alterar' x.id %}">
          <img src="{% C:\Users\helen\Desktop\5425\Projeto_Django\project1\static\pencil-fill.svg %}" alt="lápis">
        </a>
    </li>
    {% endfor %}
</ul>
 
<br>
<a href="{% url 'todo:inserir' %}">adicionar tarefa</a>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
</svg>
</body>
</html>