{%extends 'contactos/base.html' %}
<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Contacto - Editar</title>
</head>
<body>
   {% block conteudo %}
    <h2>Editar contacto</h2>
    <form method="POST" enctype="multipart/form-data">
 
        {% csrf_token %}
       
        {{ formulario.as_p }}
       
        <p><button>Guardar alterações</button></p>
    </form>
    {% endblock %}
</body>
</html>