<!DOCTYPE html>
<html lang="pt-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
</head>
<body>
    <h1>Lista de Contactos</h1>

    {% for contacto in contactos %}
    <div>
        <p>
            {% if contacto.foto %}
            <img src="{{contacto.foto.url}}" width="50">
            {% endif %}
            {{contacto.nome}} - {{contacto.telemovel}} | {{contacto.email}}
            {% if contacto.telemovel2 %}
            Tlm alternativo: {{contacto.telemovel2}}
            {% endif %}
            <a href="{% url ' contactos:delete' contacto.id}"></a><img src="../../../static/trash3.svg" alt="">
        </p>
    </div>
    {% endfor %}
</body>
</html>